{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock title %}

{% block content %}
  <div class="container py-5">
    <h1>Все статьи пользователя {{ author.get_full_name }}</h1>
    <h2>Всего статьей: {{ author.posts.count }}</h2>
    <h1>Подписки: {{ author.following.count }}</h1>
    <h1>Подписчики: {{ author.followers.count }}</h1>
    <h1>Комментарии: {{ author.comments.count }}</h1>
    <div class="mb-5">
      {% if user.is_authenticated and user != author %}
        {% if following %}
          <a class="btn btn-lg btn-light"
             href="{% url 'posts:profile_unfollow' author.username %}"
             role="button">
            Отписаться
          </a>
        {% else %}
          <a class="btn btn-lg btn-primary"
             href="{% url 'posts:profile_follow' author.username %}"
             role="button">
            Подписаться
          </a>
        {% endif %}
      {% endif %}
    </div>
    {% for post in page_obj %}
      {% include "posts/includes/post.html" with hide_profile_link=True %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
{% endblock content %}
